html{
    background: #508C9B;
    color: #201E43;
    font-size: 30px;
    
}

.mainTitle{
    text-align: left;
    text-decoration: none;
    color: #201E43;
    position: relative;
        bottom: 25%;
        left: 25px;
}

.noUnderlineTitle{
    text-decoration: none;
    color: #201E43;
}



.content{
    position: absolute;
        top: 160px;
        width: 100%;
}

.horizontalButton{
    background-color: #201E43;
    position: absolute;
        top: 100px;
        left: 0px;
    height: 50px;
    width: 100%;
}

.button{
    font-size: 25px;
    color: #EEEEEE;
    text-decoration: none;
}

#button1{
    position: relative;
        bottom: 45px;
        left: 10%;
}

#button2{
    position: relative;
        bottom: 137px;
        left: 30%;
}

#button3{
    position: relative;
        bottom: 227px;
        left: 50%;
}

#button4{
    position: relative;
        bottom: 317px;
        left: 75%;
}

h2[subtitle]{
    text-align: center;
    font-size: 1.3rem;
}


h3[subtitle]{
    text-align: center;
    font-size: 0.8rem;
    background-color: #134B70;
    
}

h3{
    color: #EEEEEE;
    text-align: left;
    font-size: 0.8rem;
    padding: 5px;
}

h4[subtitle]{
    font-size: 0.7rem;
}

h4{
    color: #EEEEEE;
    width:fit-content;
    text-align: left;
    font-size: 0.6rem;
}

#aboutMe{
    background-color:#508C9B;
    position: relative;
        left: 50%;
        top: -250px;
        z-index: 2;
    width: 500px;
}

#contact{
    position: absolute;
    bottom: 10px;
}

.text{
    color: #EEEEEE;
    font-size: 0.55rem;
    text-align: justify;
    padding: 0px 15px
}

#profilePicture{
    height: 350px;
    margin: auto;
    position: relative;
        left: 25%;
        top: 100px;
}

.logo{
    height: 150px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

*{
    font-family: "Roboto Condensed", sans-serif;
}

.language-en{
    height: 30px;
    width: 50px;
    position: absolute;
        right: 25px;
        top: 40px;
        z-index: 1;
}

.language-esp{
    height: 30px;
    width: 50px;
    position: absolute;
        right: 80px;
        top: 40px;
        z-index: 1;
}

.upperMenu{
    background-color: #EEEEEE;
    position: absolute;
        top: 0%;
        left: 0%;
    height: 100px;
    width: 100%;
}