html{
    background: #508C9B;
    color: #201E43;
    font-size: 30px;
    
}

#mainTitle{
    text-align: center;
    padding: 0px;
}

h2[subtitle]{
    text-align: center;
    font-size: 1.3rem;
}

h2{
    text-align: center;
    font-size: 1rem;
    padding: 0px;
}

h3[subtitle]{
    text-align: center;
    font-size: 0.8rem;
    background-color: #134B70;
    
}

h3{
    color: #EEEEEE;
    text-align: left;
    font-size: 0.8rem;
    padding: 5px;
}

h4[subtitle]{
    font-size: 0.7rem;
}

h4{
    color: #EEEEEE;
    width:fit-content;
    text-align: left;
    font-size: 0.6rem;
}

.text{
    color: #EEEEEE;
    font-size: 0.55rem;
    text-align: justify;
    padding: 0px 15px
}

#profilePicture{
    height: 350px;
    padding: 0%;
}

.logo{
    height: 150px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

*{
    font-family: "Roboto Condensed", sans-serif;
}

.horizontalButton{
    height: 280px;
    width: 100%;
/*    border: 5px solid #201E43;  */
}
.button{
    color: #EEEEEE;
}

.language{
    height: 30px;
    width: 50px;
    margin-left: 90%;
}